.navBar {

    @apply bg-white mb-2  shadow-sm drop-shadow-md transition-shadow h-20 p-5 flex rounded-lg justify-between;
}

.main {
    @apply bg-slate-100 flex-grow w-full p-3 h-full
}

.sideBar {
    @apply bg-slate-700 w-2/12 flex flex-col h-screen rounded-lg;
    @apply sm:hidden w-0 m-0; 
    @apply md:w-2/12 md:block m-2;
    @apply lg:w-2/12 lg:block m-2;

}


.navBar ul li:hover {
    @apply text-blue-500 cursor-pointer
}

.navBar ul li {
    display: flex;
    gap: 16px;
    transition: color 0.3s;
    /* Smooth transition for hover effect */
}


/* Admin Table */
.tableCover {
    @apply bg-white p-5  rounded-md shadow-md 
}

/* End Admin Table */


/* Form Styling */


.formInput{
    @apply rounded-md border border-slate-400 outline-none px-5 py-3 focus:border-blue-700 w-52
}


.formLabel{
    @apply font-medium text-sm block font-sans size-4 mb-3 w-full
}
.formSelect{
    @apply rounded-md border border-slate-400 outline-none px-5 py-3 focus:border-blue-700 w-52

}
.formSelect option{
    @apply  size-2  
}







.sideBarMenu {
    @apply text-white p-5;
}


.sideBarMenu li {
    @apply rounded-md p-2 transition-all duration-300 hover:bg-gray-600 hover:hover:text-cyan-300
}

.subItems {
    @apply p-0 transition-all duration-1000
}


.subItems li {

    @apply text-white rounded-md ml-5 mt-4 py-1 hover:bg-gray-500 hover:text-cyan-300 transition-colors duration-300 !important
}

.box {
    @apply container p-5 bg-zinc-200 rounded-md shadow-sm shadow-slate-500 hover:shadow-slate-600 hover:shadow-md hover:translate-y-1 transition-all ease-in-out
}

.error {
    @apply text-red-600 block
}



.adminDataTable thead {
    @apply bg-slate-100 border border-slate-200;
}

.adminDataTable tbody{
    display: block;
    width: 100%;
    @apply md:h-[500px] overflow-auto
}


.adminDataTable th {
    @apply p-3;
}

.adminDataTable tbody tr {
    @apply border-b border-b-slate-200 hover:bg-gray-100;
}

.adminDataTable td {
    @apply px-5 py-6 text-center items-center;
}

.adminDataTable tbody {
    display: block;
    overflow: auto;
} 

.adminDataTable thead{
    display: table;
    width: 100%;
    table-layout: fixed;
} 
 .adminDataTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} 



.adminDataTable thead {
    width: 100%;
}


.row{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}