.input {
    padding: 10px;
    width: 100%;
    @apply    rounded-md  outline-blue-400  border border-teal-200 outline-1
}


.errorInput {
    padding: 10px;
    width: 100%;
    @apply    rounded-md  outline-red-400  border border-red-200 outline-1
}


.inputGroup {
    padding: 10px;
}

.btnGroup {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    @apply font-bold py-2 px-4 rounded outline-none;
}


.btnLogin {
    @apply bg-blue-500 text-white w-full;

}

.btnLogin:hover {
    @apply bg-blue-600 w-full ;
}



.btnSignUp {
    @apply bg-white text-black;

}

.btnSignUp:hover {
    @apply bg-slate-400;
}

.formBody{
    @apply flex gap-3 flex-col
}



.loginCard{
    @apply flex  justify-center flex-col   bg-white  p-5 border-gray-400  border border-y-0  rounded-3xl backdrop-blur-md  md:w-1/4 md:h-fit sm:w-fit sm:h-full
}